<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{Title}}</title>
    {{#if Description}}
    <meta name="description" content="{{Description}}" />
    {{/if}}
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <div class="h-32 w-screen bg-purple-400"></div>
    <div class="py-4 flex flex-col grid-cols-3 gap-4 max-w-screen-lg lg:grid lg:px-4 lg:mx-auto">
      <header class="relative flex flex-col items-center text-center">
        <div class="absolute -top-16 h-16 w-16 bg-gray-500 rounded shadow-border">
          <!-- todo: avatar goes here -->
        </div>
        <h1 class="my-2 text-xl font-bold">{{Title}}</h1>
        {{#if Description}}
        <p>{{Description}}</p>
        {{/if}}
      </header>
      <main class="flex flex-col col-span-2 items-center">
        {{#each Posts}}
        <article class="prose w-full p-4 rounded-xl border border-gray-100 shadow-md flex flex-col" data-created-at="{{this.CreatedAt}}">
          {{#each this.Content}}
            {{#if (eq this.Type "Markdown")}}
              {{this.Content}}
            {{/if}}
          {{/each}}
          <!-- todo: tags go here -->
          <div class="flex justify-between">
            <span title="{{formatDate this.CreatedAt "%A, %B %-d, %Y %-I:%M %p %Z"}}">{{timeAgo this.CreatedAt}}</span>
            <div>
              <!-- todo: like/reblog buttons go here -->
            </div>
          </div>
        </article>
        {{/each}}
      </main>
      <footer class="col-span-3 flex flex-col justify-center items-center">
        {{#if (or PreviousPage NextPage)}}
        <div>
          {{#if PreviousPage}}
          <a href="{{PreviousPage}}">Previous</a>
          {{/if}}
          {{#if (and PreviousPage NextPage)}}
          &mdash;
          {{/if}}
          {{#if NextPage}}
          <a href="{{NextPage}}">Next</a>
          {{/if}}
        </div>
        {{/if}}
        <span>
          served up with ♥ using <a class="text-purple-600 bg-purple-100 font-semibold rounded-md px-2 py-1" href="https://github.com/sand-head/Tumblepub" target="_blank" rel="noopener noreferrer">Tumblepub</a>
        </span>
      </footer>
    </div>
  </body>
</html>