<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{Title}}</title>
    {{#if Description}}
    <meta name="description" content="{{Description}}" />
    {{/if}}
  </head>
  <body>
    <div class="grid">
      <header>
        <h1>{{Title}}</h1>
        {{#if Description}}
        <p>{{Description}}</p>
        {{/if}}
      </header>
      <main>
        {{#each Posts}}
        <article class="prose p-4 rounded-xl shadow-md flex flex-col" data-created-at="{{this.CreatedAt}}">
          {{#each this.Content}}
            {{#if (eq this.Type "Markdown")}}
              {{this.Content}}
            {{/if}}
          {{/each}}
          <div class="post-footer">
            <div class="post-footer-section">
              <span title="{{formatDate this.CreatedAt "%A, %B %-d, %Y %-I:%M %p %Z"}}">{{timeAgo this.CreatedAt}}</span>
            </div>
            <div class="post-footer-section">
              <!-- like/reblog buttons go here -->
            </div>
          </div>
        </article>
        {{/each}}
      </main>
      <footer>
        {{#if (or PreviousPage NextPage)}}
        <div>
          {{#if PreviousPage}}
          <a href="{{PreviousPage}}">Previous</a>
          {{/if}}
          {{#if (and PreviousPage NextPage)}}
          &mdash;
          {{/if}}
          {{#if NextPage}}
          <a href="{{NextPage}}">Next</a>
          {{/if}}
        </div>
        {{/if}}
        served up with ♥ using <a href="https://github.com/sand-head/Tumblepub" target="_blank" rel="noopener noreferrer">Tumblepub</a>
      </footer>
    </div>
  </body>
</html>